body{
    font-family: 'Courier New', Courier, monospace;
    background-color:#ffc0cb;
    padding:15px;
}

main{
    background-color: #ffffff; 
    width:80%;
    max-width:600px ;
    margin-top:10px;
    height: 580px;
    font-family: 'Roboto Mono', monospace ;
    font-weight: 400;
}
/*is #fff common for other browsers?
else #ffffff
added a bit of padding to compromse the border adding a few 
*/

.inner{
    display: inline;
}

header{
    background-color: #ffb4b4;
    max-width: 575px;
    height: 20px;
    padding: 10px 10px 15px 10px;
    border: solid #ff4141;
    font-size: 20px;
    /*i removed the actual width percentage now it's no issues. s
    there was something saying the padding stepped out when i 
    said width 100% but i don't know why*/
}

header img {
    float: right;
    width: 20px;
}

.container{
    margin: 20px auto;
    width: 90%;
    max-width: 560px;
}


.sect, .btn, .btn2 {
    background-color: #cbcbcb;
    padding: 12px;
    width: 75%;
    border: 1px solid #000;
    display: inline-block;
    outline:none;

} 

::placeholder{
    color: #d34747fa;
    font-style: italic;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace ;

}

.btn, .btn2{
    width: 17%;
    color: #000;
    padding: 10px 25px;
    float: right;
    text-align: center;

}

.btn2{
    padding: 10px 20px;
    width: fit-content;
    margin-bottom: 20px;
}

.item{
    display: block;
    position: relative;
    cursor: pointer;
    padding:10px 5px;    

}

.tasks{
    background-color: #ffedf2;
    border: 1px solid #000;
    margin: 20px auto;
    height: 350px;
/*even if i don't pick up the language, my kids will know about sobolo, 
vapour rub, waist beads new nose ring and */

}

input[type="checkbox"]{
    display: none;
}

.check{
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border: solid #ff4141;

}

ul{
    
    font-size: larger;
    list-style-type: none;
}