body{
    font-family: 'Courier New', Courier, monospace;
    background-color: pink;
}

.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(45deg,pink,purple);
    padding: 10px; 
}

.todo-app{
    width:100%;
    max-width: 540px;
    min-height: 540px;
    background: #f16f6f;
    margin: 100px auto 20px;
    padding:10px 70px 70px;    
    text-align: center;

}

.todo-app h2{
    color: #000;
    margin-bottom: 20px;
    font-size: 30px;
}

span{
    background-color: #535353;
    color: #fff;
    padding: 10px;
    width: fit-content;
    margin: auto;

}

ul{
    background-color: #fff;
    padding: 40px;
    height: 340px;
    text-align: left;
    font-size: larger;
}